* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a47bb8;
    padding-top: 40px;
    user-select: none;
}

/* <----- CSS -----> */

.container {
    display: flex;
    margin-top: 40px;
    border: 15px solid #280137;
    border-radius: 15px;
    background-color: #280137;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
    color: #280137;
}
/* <----- CANVAS AREA -----> */
.pixel-container {
    width: 562px;
    min-width: 562px;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.pixels {
    border: 1px solid white;
}

.pixel-container {
    cursor: crosshair;
}

/* <----- CONTROL CONTAINER -----> */
.controls-container-right,
.controls-container-left {
    padding: 20px;
    background: #f5ae52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.controls-container-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.controls-container-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* <----- BUTTON CUSTOMISATION -----> */
button {
    position: relative;
    background: #933718;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.text {
    display: block;
    padding: 15px 20px;
    border-radius: 15px;
    background: #fc7869;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    transform: translateY(-6px);
    transition: transform ease 0.1s;
}

button:active .text,
button:active .icon {
    transform: translateY(-2px);
}

.icon {
    height: 55px;
    width: auto;
    padding: 10px;
    display: block;
    border-radius: 15px;
    background: #fc7869;
    transform: translateY(-6px);
    transition: transform ease 0.1s;
}

.controls button:hover::before {
    content: attr(data-tooltip);
}

.controls button::before,
.controls button::after {
    --scale: 0;
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-120%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.controls button::before {
    font-family: cursive;
    content: attr(data-tooltip);
    color: white;
    padding: 5px 10px;
    width: max-content;
    background:#280137;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.controls button:hover::before,
.controls button:hover:after {
    --scale: 1;
}

/* <----- MODAL -----> */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid black;
    border-radius: 15px;
    z-index: 10;
    background-color: white;
    width: 400px;
    height: 150px;
    max-width: 80%;
    padding: 20px;
    box-shadow: 15px 12px 7px ;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.modal-header .subtext {
    font-size: 12px;
    color: grey;
    font-style: italic;
    margin-left: 5px;
}

.save-btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 15px;
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 10px;
}

.modal-body {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#overlay {
    position: fixed;
    transition: 150ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    pointer-events: none;
}

#overlay.active {
    background-color: rgb(0, 0, 0, .5);
    pointer-events: all;
}

/* <----- DEBUGGING -----> */

.pixels {
    user-select: none; /* Prevent text selection */
    -webkit-user-drag: none; /* Prevent element dragging on WebKit browsers */
    -moz-user-drag: none; /* Prevent element dragging on Firefox */
    -ms-user-drag: none; /* Prevent element dragging on Internet Explorer */
    user-drag: none; /* Prevent element dragging on modern browsers */
}